{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}系统平台{% endblock %}</title>
<script src="{% static 'js/jQuery.min.js' %}"></script>
<script src="{% static 'js/jstree.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style.min.css' %}">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">📘 系统平台</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if request.user.is_authenticated %}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{% url 'task_list' %}">任务管理</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{% url 'outbound_list' %}">数字化模块</a>#}
{#                    </li>#}
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text me-3">👋 {{ request.user.full_name }}</span>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="nav-link btn btn-link" style="padding: 0; border: none; background: none;">
                                退出
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">注册</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block extra_scripts %}


{% endblock %}
{% block extra_styles %}
<style>
  .form-label {
    font-weight: bold;
  }
  select.form-select option {
    padding-left: 0.5rem;
  }
</style>
{% endblock %}
</body>
</html>
